<div ng-include src="'menu.html'"></div>

<article class="dashboard">
    
    <div class="subMenu">
        <a class="back" href="" back-button><i class="fa fa-angle-left"></i></a>
        <div class="info">
            <span class="name">{{company.companyName}}</span>
        </div>
    </div>

    <div class="loading" ng-show="loading"></div>

    <div class="boxesDashboard" ng-show="!loading">
        <a class="box" href="#company/{{company.companyId}}/{{company.companyKind}}">
            <i class="fa fa-info-circle"></i>
            <span>General Information</span>
        </a>
        <a class="box">
            <i class="fa fa-table"></i>
            <span>Risk summary</span>
        </a>
        <a class="box">
            <i class="fa fa-area-chart"></i>
            <span>P&L Statement</span>
        </a>
        <a class="box">
            <i class="fa fa-pie-chart"></i>
            <span>Balance Sheet</span>
        </a>
        <a class="box" href="#notes/{{company.companyId}}/{{company.companyKind}}">
            <i class="fa fa-thumb-tack"></i>
            <span>Notes</span>
        </a>
    </div>
    
</article>
