<article class="portfolioCompanies">

    <div class="loading" ng-show="loading"></div>
    
    <div class="errorMessage" ng-if="companies.length == 0 && !loading">
        You have no portfolio yet.
    </div>

    <div class="selectPortfolio">
        <span>Portfolio</span>
    </div>

    <div class="companies">
        <ul>    
            <li ng-repeat="company in companies">
                <div class="company">
                    <img class="flag" ng-src="http://swiss-metrics.com/files/img/flags/24/{{company.isoCountry2.toLowerCase()}}.png" alt="">
                    <span>{{company.companyName}}</span>
                </div>
            </li>
        </ul>
    </div>
    
</article>
