@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\000035}}
body {
  font-size: 14px;
  font-family: arial, verdena, sans-serif;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000314}}
.clear {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000317}}
.loading {
  background: url(../img/ajax-loader.gif) no-repeat 50% 50%;
  width: 100%;
  height: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000322}}
.error, article.homePage section.login .loginError {
  color: red;
  text-align: center;
  padding: 5px 0;
  font-size: 1.1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000328}}
nav.mainManu {
  background-color: #282b33;
  color: #fff;
  border-bottom: 3px solid #eb0000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000332}}
  nav.mainManu a {
    display: block;
    float: left;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000337}}
  nav.mainManu .logo {
    background: url(../img/logo-white.png) no-repeat 50% 50%;
    width: 167px;
    height: 48px;
    margin: 12px 10px 12px 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000343}}
  nav.mainManu .rightMenu {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000345}}
    nav.mainManu .rightMenu a:hover {
      background-color: #282828; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000348}}
    nav.mainManu .rightMenu i {
      padding: 22px 25px;
      font-size: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000352}}
    nav.mainManu .rightMenu .search {
      border-left: 1px solid #222; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000355}}
    nav.mainManu .rightMenu .list {
      border-left: 1px solid #222;
      border-right: 1px solid #222; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000361}}
article.homePage {
  background-color: #282b33;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000367}}
  article.homePage section.header {
    background: url(../img/login-mountains.jpg) no-repeat 50% 0% #a11218;
    background-size: 100% auto;
    min-height: 200px;
    max-height: 350px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000373}}
    article.homePage section.header .logo {
      background: url(../img/logo-white.png) 50% 50% no-repeat;
      width: 100%;
      height: 48px;
      position: absolute;
      top: 35%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000380}}
    article.homePage section.header .arrow {
      position: absolute;
      bottom: -20px;
      left: 49%;
      background: url(../img/login-mountains.jpg) no-repeat;
      width: 40px;
      height: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000389}}
      article.homePage section.header .arrow .arrowMask {
        background: url(../img/login-arrow.png) no-repeat;
        width: 40px;
        height: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\0000397}}
  article.homePage section.login .wrapperLogin {
    width: 70%;
    margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\00003101}}
  article.homePage section.login h1 {
    margin: 0;
    padding: 60px 0 50px;
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\00003109}}
  article.homePage section.login .boxLogin {
    background-color: #23242c;
    border-radius: 5px;
    padding: 5px 45px 5px 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\00003114}}
  article.homePage section.login input#loginEmail, article.homePage section.login input#loginPassword {
    border: medium none;
    display: block;
    margin: 0;
    padding: 20px;
    font-size: 1.6em;
    border-radius: 5px 5px 0 0;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\00003123}}
  article.homePage section.login input#loginPassword {
    border-top: 1px solid #DFDFDF;
    border-radius: 0 0 5px 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\00003128}}
  article.homePage section.login .loginError {
    padding: 0 0 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\00003132}}
  article.homePage section.login button.loginButton {
    color: #fff;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #23242c;
    background-color: #eb0000;
    width: 100%;
    margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\00003145}}
  article.homePage section.forgotPassword {
    position: absolute;
    bottom: 0;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/waldi\/Projects\/swissApp\/www\/css\/style\.scss}line{font-family:\00003149}}
    article.homePage section.forgotPassword button {
      color: #fff;
      font-size: 1.6em;
      text-align: center;
      padding: 15px;
      border: none;
      background-color: #eb0000;
      width: 100%; }
