$menuColor: #282B33;
$redColor:#eb0000;
$insertedFontSize: 1.6em;

body{
    font-size: 14px;
    font-family: arial, verdena, sans-serif;
    margin:0;
    padding:0;
}
body main#site{
    
}
.clear{
    clear:both;
}
.loading{
    background:url(../img/ajax-loader.gif) no-repeat 50% 50%;
    width:100%;
    height:40px;
}
.error{
    color:red;
    text-align: center;
    padding:5px 0;
    font-size: 1.1em;
}
nav.mainManu{
    background-color:$menuColor;
    color:#fff;
    border-bottom: 3px solid $redColor;
    a{
        display:block;
        float:left;
        color:#fff;
    }
    .logo{
        background:url(../img/logo-white.png) no-repeat 50% 50%;
        width:167px;
        height:48px;
        margin:12px 10px 12px 15px;
    }
    .rightMenu{
        float:right;
        a:hover{
            background-color:#282828;
        }
        i{
            padding: 22px 25px;
            font-size: 2em;
        }
        .search{
            border-left:1px solid #222;
        }
        .list{
            border-left:1px solid #222;
            border-right:1px solid #222;
        }
    }
}
article.homePage{
    $borderInputs: #23242C;
    $borderRadius: 5px;
    $inputPadding: 20px;
    background-color: $menuColor;
    position:relative;
    section.header{
        background: url(../img/login-mountains.jpg) no-repeat 50% 0% #A11218;
        background-size: 100% auto;
        min-height: 200px;
        max-height: 350px;
        position:relative;
        .logo{
            background: url(../img/logo-white.png) 50% 50% no-repeat;
            width: 100%;
            height:48px;
            position:absolute;
            top:35%;
        }
        .arrow{
            $imgW: 40px;
            $imgH: 20px;
            position:absolute;
            bottom: -$imgH;
            left:49%;
            background: url(../img/login-mountains.jpg) no-repeat;
            width: $imgW;
            height: $imgH;
            .arrowMask{
                background: url(../img/login-arrow.png) no-repeat;
                width: $imgW;
                height: $imgH;
            }
        }
    }
    section.login{
        .wrapperLogin{
            width:70%;
            margin:auto;
        }
        h1{
            margin:0;
            padding:60px 0 50px;
            text-align:center;
            color:#fff;
            font-size: 2em;
            font-weight:bold;
        }
        .boxLogin{
            background-color: $borderInputs;
            border-radius: $borderRadius;
            padding: $borderRadius (2 * $inputPadding) + $borderRadius $borderRadius $borderRadius;
        }
        input#loginEmail{
            border: medium none;
            display: block;
            margin: 0;
            padding: $inputPadding;
            font-size: $insertedFontSize;
            border-radius: $borderRadius $borderRadius 0 0;
            width: 100%;
        }
        input#loginPassword{
            @extend input#loginEmail;
            border-top: 1px solid #DFDFDF;
            border-radius: 0 0 $borderRadius $borderRadius;
        }
        .loginError{
            @extend .error;
            padding: 0 0 15px;
        }
        button.loginButton{
            color:#fff;
            font-weight:bold;
            font-size:$insertedFontSize;
            text-align: center;
            padding:15px;
            border-radius: $borderRadius;
            border:2px solid $borderInputs;
            background-color: $redColor;
            width: 100%;
            margin:20px 0;
        }
    }
    section.forgotPassword{
        position:absolute;
        bottom:0;
        width: 100%;
        button{
            color:#fff;
            font-size:$insertedFontSize;
            text-align: center;
            padding:15px;
            border:none;
            background-color: $redColor;
            width: 100%;
        }
    }

}